{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% block beforeContent %}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('date')
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-xl">GDS Circuits</span>
    <h1 class="govuk-heading-xl">Choose circuit</h1>

    <form class="form" action="/choose-circuit" method="post" novalidate>
<p> {{ cir_date|safe }}</p>
    {{ govukRadios({
        'id': 'choose-a-session',
        'name': 'example-default',
        'hint': {'text': 'Choose your session type.'},
      'items': [{'value': 'twelvex40sx2', 'text': 'Twelve x 40s x 2'},
                {'value': '6x1x3', 'text': '6 x 1min x 3reps'},
                {'value': '4x12x3', 'text': '4 by 12 reps by 3 sets'}]
        }) }}

<!--      <p class="govuk-body">The following is a WTForm SubmitField rendered using a GovSubmitInput widget:</p>-->


           {{ govukButton({
  'text': 'Continue'})
            }}
    </form>
  </div>
</div>
{% endblock %}
