{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{% block beforeContent %}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('choose_circuit')
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

        <h2 class="govuk-heading-m">Circuit details</h2>
          <p class="govuk-body">


              {{ govukSummaryList(
    {"rows": [{"key": {"text": "Date of session"}, "value": {"html": g.cir_date|safe}, "actions": {"items": [{"href": "/date", "text": "Change", "visuallyHiddenText": "date"}]}},
    {"key": {"text": "Circuit session"}, "value": {"html": g.cir_session|safe}, "actions": {"items": [{"href": "/choose-circuit", "text": "Change", "visuallyHiddenText": "choose circuit"}]}}
        ]}
    ) }}
          </p>
        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


            <form action="/review" method="post" novalidate>
                       {{ govukButton({
  'text': 'Get your circuit'})
            }}

        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}


