{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{% block beforeContent %}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('index')
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

        <h2 class="govuk-heading-m">Circuit details</h2>
        {{ govukSummaryList(
    {"rows": [{"key": {"text": "Date of session"}, "value": {"text": "Sarah Philips"}, "actions": {"items": [{"href": "/date", "text": "Change", "visuallyHiddenText": "date"}]}},
    {"key": {"text": "Circuit session"}, "value": {"html": '{{ cir_session|safe }}'}, "actions": {"items": [{"href": "/choose-circuit", "text": "Change", "visuallyHiddenText": "choose circuit"}]}}
        ]}
    ) }}
        <h2 class="govuk-heading-m">Now send your application</h2>
            <div>
  {{ cir_session|safe }}
</div>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}


